#bodyzeug{
	background-color: #9AB1AA;
}


.bannerzeug{
	background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(../images/zeug2.jpg);
	background-size: cover;
	background-position: center;
	padding: 130px 0;
	text-align: left;

}

.bannerzeug h1{
	color: #e5e5e5;
	font-size: 40px;
	margin: 5%;
}

.bannerzeug p{
	color: #e5e5e5;
	font-size: 20px;
	margin: 5%;
}

.polaroid {
	background-color: #f2f2f2;
	width: 400px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	text-align: center;
	margin: auto;
	margin-bottom: 5%;
}

.cardzeug {
	padding: 10px;
  	align-items: center;
  	justify-content: center;
}

#zentriert {
	text-align: center;
}

